
@model SearchPeopleModel

@{
    ViewData["Title"] = "Search People";

    var SearchedPerson = Model.Person;

    int i = 0;
}


<div>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.SearchTerm)


        <input type="submit" value="Search" class="btn btn-default" />
    }

    @{
        var People = Model.People;
        if (People != null)
        {
            @using (Html.BeginForm())
            {
                <div>
                    <label>ID</label>
                    <label>First Name</label>
                    <label>Last Name</label>
                </div>
                foreach (var person in People)
                {
                    <div>
                        <label>@person.PersonID</label>
                        <label>@person.FirstName</label>
                        <label>@person.LastName</label>
                        <button>
                            @Html.ActionLink("View", "PersonViewInfo", "Person", new { id = person.PersonID}, null)
                        </button>

                    </div>
                    i++;
                }
            }}
    }









</div>