
@using LibraryManagementLibrary.Models
@model List<Address>

@{
    Address address = new Address();
}

<tr>
    <th>
        @Html.LabelFor(i => address.Number)
    </th>
    <th>
        @Html.LabelFor(i => address.AddressLine)
    </th>
    <th>
        @Html.LabelFor(i => address.Town)
    </th>
    <th>
        @Html.LabelFor(i => address.Postcode)
    </th>
</tr>

@{
    foreach (var addressItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(ai => addressItem.Number)
            </td>
            <td>
                @Html.DisplayFor(ai => addressItem.AddressLine)
            </td>
            <td>
                @Html.DisplayFor(ai => addressItem.Town)
            </td>
            <td>
                @Html.DisplayFor(ai => addressItem.Postcode)
            </td>
        </tr>
    }
}

