
@using LibraryManagementLibrary.Models
@model BookInformationModel

@{
}

@using (Html.BeginForm("AddNewBook", "Library", FormMethod.Post))
{


    <div class="form-group">
        @Html.LabelFor(m => m.Book.Title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Book.Title)
            @Html.ValidationMessageFor(m => m.Book.Title)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Book.Author, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Book.Author)
            @Html.ValidationMessageFor(m => m.Book.Author)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Book.ISBN, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Book.ISBN)
            @Html.ValidationMessageFor(m => m.Book.ISBN)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Stock, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Stock)
            @Html.ValidationMessageFor(m => m.Stock)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>


}
